<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gtosoft.sleuth"
    android:versionCode="1"
    android:versionName="1.0">

    <!--  needed for very basic bluetooth stuff.  -->
   	<uses-permission android:name="android.permission.BLUETOOTH" />
   	<!--  Needed to perform a bluetooth discovery -->
   	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
   	<!--  Needed to look up DTC descriptions! -->
	<uses-permission android:name="android.permission.INTERNET" />
      
   	<!--  Needed to Write database backup (and replaylog) to external storage. -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application android:icon="@drawable/icon" android:label="Sleuth">
        <activity android:name=".SleuthActivity"
                  android:label="Sleuth - Powered By libVoyager"
                  android:configChanges="orientation|keyboardHidden|screenLayout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-sdk android:minSdkVersion="7" />

</manifest>